<% related_content = content.send(property.name.to_sym)  %>
<% related_model = property.parent_key.first.model %>
<label for="<%= property.name %>"><%= property.name.to_s.humanize.titleize %></label>
<table id="association-table">
  <thead>
    <tr>
      <% if related_content %>
      <th></th>
      <% end %>
      <% related_model.list_properties.each do |p| %>
      <th><%= p.name.to_s.humanize.titleize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if not related_content %>
    <tr>
      <td colspan="<%= related_model.list_properties.size %>">No Content Associated.</td>
    </tr>
    <% else %>
    <tr>
      <td class="checkbox"><input type="checkbox" name="selection[<%= related_content.id %>]" value="1" id="selection_<%= related_content.id %>" /></td>
      <% related_model.list_properties.each_with_index do |p,i| %>
      <td><% if i == 0 %><a href="/edit/<%= related_model.name %>/<%= related_content.id %>"><%= related_content.send(p.name.to_sym) || '-' %></a><% else %><%= related_content.send(p.name.to_sym) %><% end %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
