<label for="<%= property.name %>"><%= property.model.property_options[property.name][:label] rescue property.name.to_s.capitalize %></label>
<input type="text" name="<%= property.name %>" id="<%= property.name %>" value="<%= content.send(property.name.to_sym) %>" />