<h2>My Custom Title</h2>
<label for="<%= property.name %>"><%= property.name %> and stuff</label>
<input type="text" name="<%= property.name %>" id="<%= property.name %>" value="<%= content.send(property.name.to_sym) %>" />