<form action="<%= admin_url('/update/' + @model.name + '/' + @content.id.to_s) %>" method="post" id="edit-form">
  <input type="hidden" name="return_url" value="<%= return_url %>" />
  <div id="subhead">
    <h1><a href="<%= admin_url('/' + @model.name) %>"><%= @model.display_name %></a> / Edit</h1>
  </div>
  <div id="main">
    <% if @errors %><div id="save_errors" class="errors"><%= @errors %></div><% end %>
    <% @model.get_form_properties.each do |p| %>
    <fieldset id="property-<%= p.name %>" class="<%= @model.field_class_for(p) %>">
      <%= @model.form_for(p,@content) %>
    </fieldset>
    <% end %>
  </div>
  <div class="actions">
    <button type="submit" class="save">Save <%= @model.display_name.singularize %></button>
  </div>
</form>
<script type="text/javascript" src="<%= admin_url('/js/edit.js') %>"></script>
