<h1><a href="/<%= @model.name %>"><%= @model.display_name %></a> / Edit</h1>
<form action="/update/<%= @model.name %>/<%= @content.id %>" method="post">
  <div class="wrapper">
    <% if @errors %><div id="save_errors" class="errors"><%= @errors %></div><% end %>
    <% @model.form_properties.each do |p| %>
    <fieldset id="property-<%= p.name %>" class="<%= @model.field_class_for(p) %>">
      <%= @model.form_for(p,@content) %>
    </fieldset>
    <% end %>
  </div>
  <div class="actions">
    <button type="submit" class="save">Save</button>
  </div>
</form>
<div class="actions external">
  <form action="/delete/<%= @model.name %>" method="post" id="delete-form">
    <input type="hidden" id="delete-list" name="id" value="<%= @content.id %>" />
    <button type="submit" id="delete-button">Delete</button>
  </form>
</div>
