<div id="subhead">
  <h1><%= @model.display_name %>
  <div id="model-select">
    <ul>
      <% Togo.models.each do |m| %>
        <% next if m == @model %>
        <li><a href="/<%= m.name %>"><%= m.display_name %></a></li>
      <% end %>
    </ul>
  </div>
  </h1>
</div>
<div id="main">
  <%= partial :_paging %>
  <div class="list-table-wrapper">
    <table cellspacing="0" id="list-table">
      <thead>
        <tr>
          <% if not @content.empty? %>
            <th>&nbsp;</th>
          <% end %>
          <% @model.get_list_properties.each do |p| %>
            <th><%= column_head_link(p, @order, :q => params[:q], :p => params[:p]) %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if @content.empty? %>
          <tr>
            <td colspan="<%= @model.get_list_properties.size %>"><% if params[:q] %>No results for '<%= params[:q] %>'<% else %>No content has been created yet.<% end %></td>
          </tr>
        <% else %>
          <% @content.each do |c| %>
            <tr>
              <td class="checkbox"><input type="checkbox" name="selection[<%= c.id %>]" value="1" id="selection_<%= c.id %>" /></td>
              <% @model.get_list_properties.each_with_index do |p,i| %>
                <% v = c.send(p.name.to_sym) || '-' %>
                <td><% if i == 0 %><a href="/edit/<%= @model.name %>/<%= c.id %>"><%= v %></a><% else %><%= v %><% end %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="actions">
  <form action="/delete/<%= @model.name %>" method="post" id="delete-form">
    <input type="hidden" id="delete-list" name="id" value="" />
    <button type="submit" id="delete-button" disabled="disabled" onclick="return confirm('Are you sure you want to delete these items?');">Delete</button>
  </form>
  <button onclick="window.location='/new/<%= @model.name %>'; return false;">New...</button>
</div>
<script type="text/javascript" src="/js/index.js"></script>
