<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Togo</title>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/togo.js"></script>
  </head>
  <body id="<%= @body_id %>">
    <div id="container">
      <div id="header">
        <h1>Togo</h1>
      </div>
      <div id="nav">
        <ul>
          <% Togo.models.each do |m| %>
            <li class="<%= active_menu(m.name) %>"><a href="/<%= m.name %>" class="<%= @model.name == m.name ? 'selected' : '' %>"><%= m.display_name %></a></li>
          <% end %>
        </ul>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
