<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= config[:site_title] %></title>
    <link rel="stylesheet" href="<%= admin_url('/css/screen.css') %>" type="text/css" media="screen" />
    <script type="text/javascript" src="<%= admin_url('/js/togo.js') %>"></script>
    <script type="text/javascript">
      Togo.configure({
        pathPrefix: '<%= @path_prefix %>'
      });
    </script>
  </head>
  <body id="<%= @body_id %>">
    <div id="container">
      <div id="header">
        <h1><%= config[:site_title] %></h1>
        <% if config[:system_menu] and config[:system_menu].is_a?(Array) %>
          <div id="system-menu">
            <ul>
              <% config[:system_menu].each do |s| %>
                <li><a href="<%= admin_url(s[:url]) %>"><%= s[:title] %></a></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
