<h1>Custom Body</h1>
<label for="<%= property.name %>"><%= property.name.capitalize %></label>
<textarea name="<%= property.name %>" id="<%= property.name %>" rows="10" cols="50"><%= content.send(property.name.to_sym) %></textarea>